absl-py @ file:///croot/absl-py_1666362940888/work
addict==2.4.0
aioconsole==0.6.1
aiofiles==23.1.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aiohttp-sse==2.1.0
aiohttp-sse-client==0.2.1
aiokafka==0.8.0
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
aiostream==0.4.5
alabaster==0.7.13
-e git+ssh://git@github.com/keon/algorithms.git@52b9408c98eaa8458083b27410c0c364406d6e24#egg=algorithms
anykeystore==0.2
apex==0.9.10.dev0
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644569684262/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-generator==1.10
async-timeout @ file:///opt/conda/conda-bld/async-timeout_1664876359750/work
asyncio==3.4.3
asyncpg==0.27.0
attrs @ file:///croot/attrs_1668696182826/work
autopep8 @ file:///opt/conda/conda-bld/autopep8_1650463822033/work
Babel==2.12.1
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.zoneinfo==0.2.1
beautifulsoup4 @ file:///opt/conda/conda-bld/beautifulsoup4_1650462163268/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.4
bokeh @ file:///croot/bokeh_1678869904429/work
boltons==23.0.0
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
certifi==2022.12.7
cffi @ file:///croot/cffi_1670423208954/work
chardet==5.1.0
charset-normalizer==2.0.7
chromedriver-binary @ file:///home/conda/feedstock_root/build_artifacts/python-chromedriver-binary_1679053660687/work
click @ file:///tmp/build/80754af9/click_1646038465422/work
colorama==0.4.6
colored==1.4.4
colorlover==0.3.0
commonmark==0.9.1
contourpy @ file:///opt/conda/conda-bld/contourpy_1663827406301/work
cryptacular==1.6.2
cryptography @ file:///croot/cryptography_1665612644927/work
cssselect==1.2.0
cssutils==2.6.0
cufflinks==0.17.3
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython==0.29.24
debugpy @ file:///tmp/build/80754af9/debugpy_1637091796427/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
docutils==0.18.1
dv==1.0.10
emails==0.6
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926445639/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1678703645500/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///opt/conda/conda-bld/python-fastjsonschema_1661371079312/work
-e git+ssh://git@git.fightingnoble.com/fightingnoble/External-Attention-pytorch.git@c136f9d40b42591c8f9d379c1525633f01427b43#egg=fightingcv
filelock==3.8.0
flatbuffers==2.0
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.25.0
frozendict==2.3.6
frozenlist @ file:///croot/frozenlist_1670004507010/work
future==0.18.3
gevent==22.10.2
google-auth @ file:///opt/conda/conda-bld/google-auth_1646735974934/work
google-auth-oauthlib==0.4.1
graphviz==0.20.1
greenlet==2.0.2
grpcio @ file:///tmp/build/80754af9/grpcio_1637590823556/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h5py==3.7.0
hiddenlayer==0.3
huggingface-hub==0.9.1
hupper==1.10.3
idna @ file:///croot/idna_1666125576474/work
imageio==2.9.0
imagesize==1.4.1
imgaug==0.4.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1648562408398/work
importlib-resources @ file:///tmp/build/80754af9/importlib_resources_1625135880749/work
ipydagred3==0.3.7
ipykernel @ file:///opt/conda/conda-bld/ipykernel_1662361798230/work
ipython @ file:///croot/ipython_1670919316550/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
jedi @ file:///tmp/build/80754af9/jedi_1644315233700/work
Jinja2 @ file:///croot/jinja2_1666908132255/work
jsonpatch==1.32
jsonpointer==2.1
jsonschema @ file:///opt/conda/conda-bld/jsonschema_1663375472438/work
jupyter==1.0.0
jupyter-console @ file:///opt/conda/conda-bld/jupyter_console_1647002188872/work
jupyter_client @ file:///croot/jupyter_client_1669040270237/work
jupyter_core @ file:///croot/jupyter_core_1668084443243/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
kafka-python==2.0.2
kaleido==0.2.1
kiwisolver @ file:///opt/conda/conda-bld/kiwisolver_1653292039266/work
koila==0.1.1
livereload==2.6.3
lxml @ file:///opt/conda/conda-bld/lxml_1657545139709/work
lz4==4.0.1
Markdown @ file:///tmp/build/80754af9/markdown_1614363528767/work
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
matplotlib @ file:///croot/matplotlib-suite_1670466153205/work
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
mmcls==0.21.0
mmcv-full==1.4.6
mmdet==2.14.0
mpmath==1.3.0
multidict @ file:///croot/multidict_1665674239670/work
munkres==1.1.4
nbclient @ file:///tmp/build/80754af9/nbclient_1650308366712/work
nbconvert @ file:///croot/nbconvert_1668450669124/work
nbformat @ file:///croot/nbformat_1670352325207/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1649847908682/work
networkx==3.0
notebook @ file:///tmp/build/80754af9/notebook_1621528346532/work
numexpr @ file:///croot/numexpr_1668713893690/work
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1626271506491/work
oauthlib @ file:///croot/oauthlib_1665490897403/work
opencv-python==4.5.3.56
ordered-set==4.0.2
outcome @ file:///home/conda/feedstock_root/build_artifacts/outcome_1655217710638/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.3.0
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
PasteDeploy==2.1.1
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
pbkdf2==1.3
perspective==1.0.3
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.3.0
pkgutil_resolve_name @ file:///opt/conda/conda-bld/pkgutil-resolve-name_1661463321198/work
plaster==1.0
plaster-pastedeploy==0.7
plotly==5.3.1
ply==3.11
premailer==3.10.0
prometheus-client @ file:///tmp/abs_d3zeliano1/croots/recipe/prometheus_client_1659455100375/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.20.1
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycodestyle @ file:///tmp/build/80754af9/pycodestyle_1636635402688/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.14.0
pyinstrument==4.4.0
PyJWT @ file:///opt/conda/conda-bld/pyjwt_1657544592787/work
pynvml==11.4.1
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
PyQt5-sip==12.11.0
pyramid==2.0
pyramid-mailer==0.15.1
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110947380/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python3-openid==3.2.0
pytz @ file:///opt/conda/conda-bld/pytz_1654762638606/work
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.1.1
PyYAML @ file:///croot/pyyaml_1670514731622/work
pyzmq @ file:///opt/conda/conda-bld/pyzmq_1657724186960/work
qtconsole @ file:///opt/conda/conda-bld/qtconsole_1662018252641/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1662014892439/work
recommonmark==0.7.1
regex==2022.8.17
repoze.sendmail==4.4.1
requests @ file:///opt/conda/conda-bld/requests_1657734628632/work
requests-oauthlib==1.3.1
rich==12.0.0
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
scikit-image==0.18.2
-e git+ssh://git@git.fightingnoble.com/fightingnoble/scikit-learn.git@e764c224efb7b9a0bd6f08e09338da70e8bc8409#egg=scikit_learn
scipy @ file:///tmp/build/80754af9/scipy_1618855647378/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1672497695270/work
selenium @ file:///home/conda/feedstock_root/build_artifacts/selenium_1679687315575/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
Shapely==1.7.1
sip @ file:///tmp/abs_44cd77b_pu/croots/recipe/sip_1659012365470/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
snowballstemmer==2.2.0
socketIO-client-nexus==0.7.6
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///croot/soupsieve_1666296392845/work
Sphinx==6.1.3
sphinx-autobuild==2021.3.14
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spikingjelly==0.0.0.0.12
SQLAlchemy==1.4.31
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels @ file:///croot/statsmodels_1676643798791/work
sympy==1.12rc1
temporal-cache==0.1.4
tenacity==8.0.1
tensorboard @ file:///tmp/build/80754af9/tensorboard_1633093581375/work/tensorboard-2.6.0-py3-none-any.whl
tensorboard-data-server @ file:///croot/tensorboard-data-server_1670853588388/work/tensorboard_data_server-0.6.1-py3-none-manylinux2010_x86_64.whl
tensorboard-plugin-wit @ file:///home/builder/tkoch/workspace/tensorflow/tensorboard-plugin-wit_1658918494740/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
terminado @ file:///tmp/build/80754af9/terminado_1644322581811/work
terminaltables==3.1.0
tifffile==2021.7.30
timm==0.5.4
tinycss2 @ file:///croot/tinycss2_1668168815555/work
tokenizers==0.12.1
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
torch==1.10.2
torch-scatter==2.0.9
torchaudio==0.10.2
torchfile==0.1.0
torchinfo==1.5.3
torchvision==0.11.3
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm @ file:///tmp/build/80754af9/tqdm_1625563689033/work
traitlets @ file:///croot/traitlets_1671143879854/work
transaction==3.0.1
transformers==4.21.2
translationstring==1.4
tributary==0.2.0
trio @ file:///home/conda/feedstock_root/build_artifacts/trio_1666779983676/work
trio-websocket @ file:///home/conda/feedstock_root/build_artifacts/trio-websocket_1679232064156/work/dist
twilio==8.0.0rc1
typing_extensions @ file:///croot/typing_extensions_1669924550328/work
tzdata==2023.3
tzlocal==4.3
urllib3 @ file:///croot/urllib3_1670526988650/work
velruse==1.1.1
venusian==3.0.0
visdom==0.1.8.9
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.2.1
Werkzeug @ file:///croot/werkzeug_1671215996852/work
widgetsnbextension @ file:///tmp/build/80754af9/widgetsnbextension_1645009353553/work
wsproto @ file:///home/conda/feedstock_root/build_artifacts/wsproto_1661356345548/work
WTForms==3.0.1
wtforms-recaptcha==0.3.2
xyzservices @ file:///croot/xyzservices_1675159059961/work
yapf==0.31.0
yarl @ file:///opt/conda/conda-bld/yarl_1661437085904/work
zipp @ file:///opt/conda/conda-bld/zipp_1652341764480/work
zope.deprecation==4.4.0
zope.event==4.6
zope.interface==5.4.0
zope.sqlalchemy==1.6
zstd==1.5.2.5
